    <div class="page">
    <h1>À propos</h1>
    <p>{{aboutText}}</p>
    {{#if team}}
        <h2>Notre équipe</h2>
        <div class="team-members">
            {{#each team}}
                <div class="team-member">
                    <h3>{{this.name}}</h3>
                    <p>{{this.role}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>