<div class="page">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    
    <div class="account-content">
        <h2>Mes informations</h2>
        <button id="logoutButton">Se déconnecter</button>
    </div>
</div>