<div class="page">
    <h1 class="page-title">{{title}}</h1>
  
    <div class="account-content">
        <h2 class="account-title">Mes informations</h2>
        <p class="page-description">{{description}}</p>
        <button id="logoutButton" class="logout-button">Se déconnecter</button>
    </div>
</div>
