<div class="page">
    <form id="loginForm">
    <input type="email" id="email" required>
    <input type="password" id="password" required>
    <button type="submit">Se connecter</button>
</form>
</div>