<div class="page">
    <h1>Contact</h1>
    <form id="contact-form">
        <input type="text" placeholder="Nom" name="name" required>
        <input type="email" placeholder="Email" name="email" required>
        <textarea placeholder="Message" name="message" required></textarea>
        <button type="submit">Envoyer</button>
    </form>
</div>