@import 'variables';

// Estilos generales para la página
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $primary-color;
    color: $secondary-color;

    .logo {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .reserve-btn {
        background-color: $accent-color;
        color: $secondary-color;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 5px;
    }
}

main {
    text-align: center;
    padding: 2rem;

    h1 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .filters, .styles {
        margin: 1rem 0;
        button {
            background-color: transparent;
            border: 1px solid $accent-color;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            margin: 0.5rem;
            cursor: pointer;
            
        }
    }
}

// Mixin para el grid container
@mixin grid-container($columns, $gap: 20px) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

// Mixin para los items de la grilla
@mixin grid-item($color) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $accent-color;
    padding: 1rem;
    border-radius: 10px;

    .details {
        padding: 1rem;
        background-color: $color;
        color: white;
        border-radius: 5px;
        text-align: center;

        h3 {
            margin: 0;
        }
    }
}

// Estilo para la grilla
.container {
    @include grid-container(3, 20px); // 2 columnas con 20px de gap en pantallas grandes

    // Usar for loop para generar las clases
    @for $i from 1 through 4 {
        .item-#{$i} {        
                @include grid-item($accent-color); 
        }
    }

    .item {
        .image {
            background-color: $accent-color;
            height: 150px;
            margin-bottom: 1rem;
        }
    }
}

// Media queries para diferentes pantallas
@media (max-width: 768px) {
    .container {
        @include grid-container(1, 10px); // 1 columna en pantallas pequeñas
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        @include grid-container(2, 15px); // 2 columnas en pantallas medianas
    }
}
